@import url(base.css);

form{
  font-family:'Trebuchet MS', sans-serif, monospace;
}
input{
  width: 100%;
  padding: 8px;

}
select{
  width: 100%

}
textarea {
  width: 100%;
}

div {
  margin: 4px 0px;
  padding: 4px;
}
label{
  font-weight: bold;
  font-size: 20px;
}
